.profile__avatar-button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: black;

}

.profile__avatar-button::before {
    position: absolute;
    content:"";
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #000000cc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 26px;

    background-image: url(../../../images/icon-avatar-redaction.svg);

}

.profile__avatar-button:hover::before {
    opacity: 1;
    transition: all 0.4s;
}
