.profile__subtitle {
    max-width: 336px;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 893px) {
    .profile__subtitle {
        font-size: 18px;
        line-height: 33px;
        max-width: 230px;
    }
}

@media screen and (max-width: 595px) {
    .profile__subtitle {
        margin: 0 auto;
        padding: 0;
        max-width: 189px;
        min-height: 14px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 36px;
    }
}
