.profile__edit-button {
    background-color: #000;
    background-image: url(../../../images/button-profile.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    border: 1px solid #FFF;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 37px;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: 0.35s;
}

@media screen and (max-width: 893px) {
    .profile__edit-button {
        margin-top: 25px;
    }
}

@media screen and (max-width: 595px) {
    .profile__edit-button {
        margin: 0;
        margin-left: 10px;
        margin-top: 33px;
        height: 18px;
        width: 18px;
        background-image: url(../../../images/button-profileSmall.svg);
    }
}
