.footer {
    max-width: 880px;
    margin: 0 auto;
}

@media screen and (max-width: 893px) {
    .footer {
        max-width: 580px;
        margin: 0 auto;
        margin-bottom: 36px;
        margin-top: 48px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 282px;
    }
}