.footer__copyring {
    margin: 0;
    padding: 0;
    margin-top: 67px;
    margin-bottom: 60px;
    color: #545454;
    max-width: 318px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

@media screen and (max-width: 595px) {
    .footer__copyring {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
        margin: 0 auto;
    }
}