.element__trash {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    cursor: pointer;
    background-image: url(../../../images/trash.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 19px;
}

.element__trash:hover {
    opacity: .5;
    transition: .15s;
}