.popup__input {
    display: block;
    width: 100%;
    max-width: 358px;
    max-height: 14px;
    padding: 0;
    padding-bottom: 13px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 36px;
    border: none;
    outline:none;
    border-bottom: 1px solid rgba(84, 84, 84, .2);
    font-size: 14px;
    line-height: 17px;
}


@media screen and (max-width: 540px) {
    .popup__input {
        margin-left: 22px;
        margin-bottom: 5px;
        max-width: 238px;
        max-height: 27px;
        padding-bottom: 9px;
    }
}

