.popup__image {
    position: relative;
    max-width: 75vw;
    max-height: 75vh;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 540px) {
    .popup__image {
        min-width: 240px;
        min-height: auto;
    }
}